.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  padding: 2rem;
  border: 1px solid #e2e2e2;
}

.TextField {
  padding: 0 1rem;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  outline: none;
  /* font-weight: bold; */
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin-top: 1rem;
  height: 50px;
}

.AddButton{
  height: 52px;
  padding: 0 1rem;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  outline: none;
  margin-left: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.AddButton:hover{
  color: #ffffff;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}

.TodoList {
  max-height: 200px;
  overflow: auto;
}

.TodoList > ul {
  text-align: left;
  padding: 0 1rem;
}

.TodoList > ul > li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-style: italic;
}